.productcardlandscape-maindiv {
    width: 100%;
    padding: 24px;
}

.productcard-landscape {
    border: none !important;
    padding: 24px;
    font-family: var(--normal-heading);
    -webkit-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
    box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
    transition: 0.25s ease-in-out;
    border-radius: 28px !important;
}

.productcard-landscape:hover {
    transform: scale(1.025);
    -webkit-box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
    box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
}


.productcard-landscape::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ff3633;
    clip-path: circle(300px at 5% -5%);
    z-index: 10;
    border-radius: 28px;
    transition: 0.5s ease-in-out;
}

.productcard-landscape:hover::before {
    clip-path: circle(460px at -5% 5%);
}

.productcard-landscapeimage {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.productcard-landscape img {
    max-height: 300px;
    max-width: 250px;
    transition: 0.25s ease-in-out;
    object-fit: contain;
}

.productcard-landscape:hover img {
    transform: scale(0.9);
}

.productcard-landscapecontent {
    z-index: 11;
}

.productcard-landscapecontent h3 {
    font-weight: 600;
    font-size: 36px;
    color: rgba(0, 0, 0, 0.8);
}

.productcard-landscapecontent p {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.product-specsdiv {
    margin-top: 24px;
}

.product-specsdiv h5 {
    font-weight: 600;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.7);
}

.product-specsdiv ul {
    padding: 0 !important;
    list-style: none;
}

.product-specsdiv li {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.productcard-landscapebtn {
    width: 100%;
    border: 1px solid #ff3633;
    background-color: transparent !important;
    color: #ff3633;
    border-radius: 8px;
    padding: 8px 24px;
    transition: 0.25s ease-in-out;
}

.productcard-landscapebtn:hover {

    background-color: #ff3633 !important;
    color: white !important;
}

@media screen and (max-width : 1505px) {
    .productcard-landscapeimage img {
        height: 280px;
    }

    .productcard-landscapecontent p {
        font-size: 13.6px;
    }

    .productcard-landscape::before {
        clip-path: circle(260px at 5%, -5%) !important;
    }

    .productcard-landscape:hover::before {
        clip-path: circle(400px at -8% 15%);
    }
}

@media screen and (max-width : 1326px) {
    .product-specsdiv h5 {
        font-size: 24px;
        margin-top: -8px;
    }

    .product-specsdiv p {
        font-size: 13.6px;
    }
}

@media screen and (max-width : 1228px) {
    .product-specsdiv h5 {
        font-size: 18px;
        margin-top: -8px;
    }

    .productcard-landscapecontent h3 {
        font-size: 24px;
    }

    .product-specsdiv p {
        font-size: 13.2px;
    }

    .productcard-landscapecontent p {
        font-size: 13.2px;
    }

    .productcard-landscapeimage img {
        height: 220px;
    }

    .productcard-landscape::before {
        clip-path: circle(240px at 0%, -8%) !important;
    }

    .productcard-landscape:hover::before {
        clip-path: circle(400px at -8% 15%);
    }
}


@media screen and (max-width : 1172px) {
    .product-specsdiv h5 {
        font-size: 20px;
        margin-top: -10px;
    }

    .product-specsdiv p {
        font-size: 13px;
    }

    .productcard-landscapeimage img {
        max-width: 200px;
    }
}

@media screen and (max-width : 1061px) {
    .productcard-landscapeimage img {
        height: 210px;
    }

    .productcard-landscape::before {
        clip-path: circle(200px at -6%, -8%) !important;
    }

    .product-specsdiv p {
        max-lines: 6;
        font-size: 12.8px;
    }

    .productcard-landscape:hover::before {
        clip-path: circle(400px at -15% 25%);
    }
}

@media screen and (max-width : 993px) {
    .productcard-landscapecontent h3 {
        font-size: 22px;
    }

    .productcard-landscapecontent p {
        font-size: 12.8px;
        margin-bottom: 2px !important;
    }

    .product-specsdiv h5 {
        margin-top: -16px;
    }

    .product-specsdiv p {
        font-size: 12px;
    }

    .productcard-landscapecontent hr {
        margin: 12px 0;
    }
}

@media screen and (max-width : 917px) {

    .productcard-landscapecontent h3 {
        font-size: 24px;
    }

    .productcard-landscapecontent p {
        font-size: 11.5px;
    }

    .product-specsdiv p {
        font-size: 11.5px;
    }

    .productcardlandscape-maindiv {
        padding: 12px;
    }
}

@media screen and (max-width : 796px) {

    .productcard-landscapeimage img {
        height: 240px;
    }

    .productcardlandscape-maindiv hr {
        margin: 8px 0;
    }

    .productcard-landscapecontent h3 {
        font-size: 20px;
    }

    .product-specsdiv h5 {
        font-size: 18px;
    }
    .product-specsdiv p {
        font-size: 11.5px;
    }
}

@media screen and (max-width : 767px) {

    .productcard-landscape {
        height: 100% !important;
    }

    .productcard-landscape::before {
        clip-path: circle(200px at 80%, 20%) !important;
    }

    .productcard-landscape:hover::before {
        clip-path: circle(400px at -8% -2%);
    }

    .productcard-landscapecontent h3 {
        font-size: 32px;
    }

    .product-specsdiv h5 {
        font-size: 24px;
    }

    .product-specsdiv p {
        font-size: 12px;
    }
}

@media screen and (max-width : 484px) {
    

    .productcard-landscapecontent h3 {
        font-size: 28px;
    }
}