/**Parent div**/
.blog-main-diiv{
  width: 100% !important;
  height: auto !important;
  overflow: hidden !important;
  background-color: #f0f0f0;
  font-family: var(--normal-heading);
}

/**COntainer div**/
.blog-start{
  width: 1250px;
  margin: 100px auto 20px auto !important; 
  /* margin-top: 100px !important;
  margin-bottom: 20px; */
  background-color: white;
  padding: 40px 0;
  box-shadow: 0 0 20px rgb(216, 214, 214);
}
@media screen and (max-width: 1250px) {
  .blog-start{
    width: 100%;
    /* margin: auto; */
  }
}

/**COntainer 2nd div**/
.blog-start-1{
  width: 91%;
  margin: auto;
  display: flex;
  overflow: hidden !important;
}

/**Left Section div start**/
.main-div-blog{
  width: 760px;
  padding: 0 15px;
}

/**      Title        **/

.main-div-blog h2 {
  font-size: 35px;
  font-weight: 600 !important;
}

/**      Image Section        **/
.main-blog-img-sec{
  margin: 40px 0 10px 0;
}
.main-blog-img-sec img {
  width: 100%;
  /* height: 500px; */
  object-fit: cover; 
}
.main-blog-img-sec .caption {
  font-style: italic;
}

/**      Date Section        **/
.main-blog-date-sec{
  display: flex;
  height: 30px;
}
.main-blog-date-sec h5 {
  font-size: 14px !important;
  line-height: 30px;
  color: rgb(102, 101, 101);
}
.dot-date{
  padding: 0 9px;
}
.main-blog-date-sec h6 {
  font-size: 14px !important;
  line-height: 30px;
  color: rgb(102, 101, 101);
}

/**      Subtitle        **/
.blog-subitite{
  padding-top: 15px;
  font-size: 22px;
  font-weight: 600;
}

/**      Tags       **/
.blog-para-tags{
   display: flex;
   padding-top: 10px;
   padding-bottom: 30px;
   flex-wrap: wrap !important;
}
.blog-para-tags span{
  margin-top: 10px;
  background-color: #ff3633;
  line-height: 23px;
  height: 23px;
  margin-right: 18px;
  padding: 0 8px;
  border-radius: 5px;
}
.blog-para-tags p {
  font-size:12px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/**     CMD - Content        **/
.subsection-blog{
  width: 100%;
  overflow: hidden;
}

/**     CMD - Content - para section       **/
.first-para {
  padding-top: 10px;
  font-size: 15px ;
  color: rgba(0, 0, 0, 0.8);
}
/**     CMD - Content - Heading section       **/
.first-head-fi{
  font-size: 22px;
  padding-top: 25px;
  font-weight: 600;
}

/**     CMD - Content - Iframe Youtube section       **/
.video-content{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

/**     CMD - Content - image section       **/
.body-blog-sec-img{
  padding: 10px 0 30px 0;
}
.subsection-image {
  object-fit: cover;
}
.caption-2{
    font-style: italic;
    font-size: 16px !important;
}

/**     CMD - Content - Link section       **/
.blog-imp-link{
  font-style: italic;
}

/**Left Section div End**/


/**Right Section div Start**/

.main-div-blog-1{
  width: 480px;
  padding: 0 15px 0 90px;
}

.left-blog-search input{
  height: 38px !important;
  width: 100% !important;
  line-height: 38px !important;
  padding-left: 15px !important;
  background-color: #f7f7f7;
  border: none !important;
  outline: none !important;
}
.left-blog-search input::placeholder{
  line-height: 38px !important;
  position: relative !important;
  left: -15px !important;
}


.categories-blog-right{
  overflow: hidden;
  margin: 30px 0;  
  padding: 20px 0;
}
.categories-blog-right h6{
  font-size: 18px ; 
  font-weight: 600; 
}
.categories-blog-right hr{
  margin-bottom: 24px;
  background-color: #e6e6e6;  
}



.categories-blog-right1 span{
  height: 41px;
}

.categories-blog-right2{
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted #e6e6e6;
  margin-top: 15px;
}
.categories-blog-right2 p{ 
  font-size: 15px;
  margin-bottom: 10px;
}
.categories-blog-right2 h6{
  font-size: 16px;
}


.tag-blog-right1{
  display: flex;
  flex-wrap: wrap !important;
}
.tag-blog-right1 span{
  height: 32px;
  background-color: #f2f2f2;
  margin-right: 5px;
  margin-top: 5px;
  padding: 0 6px;
  overflow: hidden;
  border-radius: 4px;
}
.tag-blog-right1 span p{
  height: 32px;
  line-height: 32px;
  font-size: 15px;
  color: #808080;
}


/**Right Section div End**/

@media screen and (max-width: 1250px) {
  .main-div-blog-1{
    width: 320px;
  }
  .blog-start-1{
    width: 960px;
  }
  .main-div-blog{
    width: 640px;
  }
}
@media screen and (max-width: 996px) {
  .main-div-blog-1{
    width: 720px;
    padding: 0 20px;
  }
  .left-blog-search{
    display: none;
  }
  .main-div-blog{
    width: 720px;
  }
  .blog-start-1{
    width: 720px;
    flex-direction: column;
  }  
}
@media screen and (max-width: 720px) {
  .main-div-blog-1{
    width: 540px;
    padding: 0 15px;
  }
  .main-div-blog{
    width: 540px;
  }
  .blog-start-1{
    width: 540px;
  }  
}
@media screen and (max-width: 540px) {
  .main-div-blog-1{
    width: 100%;
  }
  .main-div-blog{
    width: 100%;
  }
  .blog-start-1{
    width: 95%;
  }  
}