.rc {
  margin: 40px  auto 20px auto;
  width: 500px;
  height: 250px;
  border-radius: 8px !important;
  position: sticky;
  overflow: hidden !important;
  -webkit-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
  box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
  background-color: white;
  transition: 0.25s ease-in-out;
}
.h_reviewCard {
  overflow-y: scroll;
  position: relative;
  height: 240px;
}
.h_reviewCard::-webkit-scrollbar{
  width: 5px !important;
  border-radius: 10px !important;
  
}
.h_reviewCard::-webkit-scrollbar-track{
  background-color: rgb(255, 255, 255) !important;
}
.h_reviewCard::-webkit-scrollbar-thumb{
  background-color: rgb(218, 218, 218) !important;
}
.h_reviewCard:hover::-webkit-scrollbar-thumb{
  background-color: orange !important;
}

.rc:hover {
  -webkit-box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
  box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
  transform: scale(1.005);
}

.h_reviewImg {
  border-radius: 20px;
  position: absolute;
  top: 20px !important;
  left: 20px;
}

.h_reviewImg img {
  object-fit: cover;
  height: 60px !important;
  width: 60px !important;
  border-radius: 20px;
  object-position: center;
}

.h_reviewName {
  color: rgb(70, 65, 65);
  position: absolute;
  left: 95px;
  top: 36px;
}

.h_reviewData {
  
  padding-left: 20px;
  
  padding-right: 16px;
  padding-bottom: 10px;
}
.review_button{
  border: 2px solid #e2e2e1;
  padding-top: 0;
  padding-bottom: 4px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: white;
  margin-right: 20px;

  border-radius: 5px;
  
  background-color:#e2e2e1; ;
  
}

.h_score {
  position: absolute;
  right: 20px;
  height: 40px;
  background-color: rgb(233, 232, 232);
  top: 20px;
  width: 68px;
  border-radius: 10px;
  padding: 0 4px;
  text-align: center;
  color: rgb(82, 80, 80);
}
.sticky_div{
  position: sticky;
  height: 90px;
  position: -webkit-sticky; 
  top: 0;
  z-index: 3;
  background-color: white;
}
.h_reviewData p {
  color: rgb(110, 110, 110);
}

@media screen and (max-width: 676px) {
  .rc {
    width: 400px;
  }

}

@media screen and (max-width: 450px) {
  .rc {
    width: 340px;
    background-color: white;
    margin-left: -10px;
  }
  .h_reviewName h4{
    font-size: 20px;
  }

}
@media screen and (max-width: 340px) {
  .rc {
    width: 300px;
    background-color: white;
    margin-left: -30px;
  }
}