.user_back {

    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-family: var(--normal-heading);
    text-align: center;
    margin-bottom: 90px;
    

}

.profile {
    height: 550px;
    width: 550px;
    position: relative;
    
    margin-left: 55%;
    margin-right: auto;
    
}

.circle_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    opacity: 0;
    
}

.circle_back li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    border-radius: 70%;
    animation: animate 12s linear infinite;


}

.circle_back li.darkRed {
    background: #B1434E;
}

.circle_back li.regularRed {
    background: #FF3633;
}

.circle_back li.regularOrange {
    background: #FF751F;
}

.circle_back li.lightOrange {
    background: #FFB23E;
}

.circle_back li.yellow {
    background: #FFEF5C;
}

.circle_back li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    bottom: 110px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.circle_back li:nth-child(2) {
    left: 10%;
    bottom: 70px;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 9s;
}

.circle_back li:nth-child(3) {
    left: 35%;
    width: 20px;
    bottom: 100px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 8s;
}

.circle_back li:nth-child(4) {
    left: 70%;
    width: 60px;
    bottom: 100px;
    height: 60px;
    animation-delay: 1s;
    animation-duration: 12s;
}

.circle_back li:nth-child(5) {
    left: 60%;
    bottom: 50px;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 6s;
}

.circle_back li:nth-child(6) {
    left: 45%;
    bottom: 120px;
    width: 80px;
    height: 80px;
    animation-delay: 3s;
    animation-duration: 9s;
}

.circle_back li:nth-child(7) {
    left: 90%;
    width: 100px;
    bottom: 70px;
    height: 100px;
    animation-delay: 5s;
    animation-duration: 12s;
}

.circle_back li:nth-child(8) {
    left: 20%;
    width: 50px;
    bottom: 150px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 8s;
}

.circle_back li:nth-child(9) {
    left: 70%;
    width: 30px;
    bottom: 110px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 6s;
}

.circle_back li:nth-child(10) {
    left: 15%;
    width: 30px;
    bottom: 100px;
    height: 30px;
    animation-delay: 3s;
    animation-duration: 10s;
}

.circle_back li:nth-child(11) {
    left: 2%;
    width: 40px;
    bottom: 150px;
    height: 40px;
    animation-delay: 2s;
    animation-duration: 9s;
}

.circle_back li:nth-child(12) {
    left: 87%;
    width: 30px;
    bottom: 150px;
    height: 30px;
    animation-delay: 3s;
    animation-duration: 6s;
}

.circle_back li:nth-child(13) {
    left: 40%;
    width: 20px;
    bottom: 150px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 5s;
}

.circle_back li:nth-child(14) {
    left: 2%;
    width: 50px;
    bottom: 20px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 8s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
    }

    100% {
        transform: translateY(-900px) rotate(720deg);
    }
}




.h_circle1 {
    height: 320px;
    width: 320px;
    border-radius: 160px;
    background-color: #B1434E;
    position: absolute;
    z-index: 4;
    top: 90px;
    left: 60px;
    opacity: 0;
}

.h_circle2 {
    height: 320px;
    width: 320px;
    border-radius: 160px;
    background-color: #FFB23E;
    position: absolute;
    z-index: 2;
    top: 100px;
    left: 170px;
    opacity: 0;

}

.h_circle3 {
    height: 320px;
    width: 320px;
    border-radius: 160px;
    background-color: #FF3633;
    position: absolute;
    z-index: 3;
    top: 140px;
    left: 80px;
    opacity: 0;
}

.h_circle4 {
    height: 320px;
    width: 320px;
    border-radius: 160px;
    background-color: #FFEF5C;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 130px;
    opacity: 0;
}

.h_circle5 {
    height: 320px;
    width: 320px;
    border-radius: 160px;
    background-color: #FF751F;
    position: absolute;
    z-index: 0;
    top: 160px;
    left: 150px;
    opacity: 0;
}


.profile_img {
    height: 320px;
    width: 320px;
    border-radius: 160px;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 110px;
    opacity: 0;
    border-color: white;
    border: 3px;

}
.detail_col{
    
}
.user_details {
    height: 600px;
    width: 500px;
    border-radius: 10px;
    opacity:0;
   
    -webkit-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
    box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
}

.user_heading {
    position: absolute;
    color: black;
    top:30px;
    font-size:45px;
    font-weight:600;
    left:140px;

}

.h_values {
    
    opacity:0;
    padding-left:10px;
}

.skewedDiv{
    text-align: left;
    font-size: 27px;
    color: orangered;
    position: absolute;
    width: 500px;
    height: 250px;
    transform:skewY(7deg);
    z-index:-4;
    background-color: white;
    top:165px;
    left:15px;
    font-family: "Poppins",sans-serif;
    opacity: 0;
}
.user_data{
    text-align: left;
    font-size: 24px;
    color: black;
    position: absolute;   
     
    top:190px;
    left:40px;
    
    font-family: "Poppins",sans-serif;
}

.h_headings {
    opacity:0;
    color: black;
    
}

.user_signout {
    position: absolute;
    top: 520px;
    left: 210px;
    opacity: 0;
    border:0!important;
    font-weight: 500!important;
    background: linear-gradient(45deg,#B1434E,#D83D41,#FF3633,#FF751F,#FFB23E,#FFEF5C)!important;
    
}
.user_signout:hover{
    
    color:black!important;
    font-weight: 500!important;
    background: transparent!important;
    border-color: orangered!important;
    border:3px!important;
}
.user_edit{
    position:absolute;
    bottom: 50px;
    left:100px;
    background-color: black!important;
    color:white!important;
    border:0!important;
    border-color: transparent!important;
    font-weight: 500!important;
}

.user_edit:hover {
    color:black!important;
    font-weight: 500!important;
    background: transparent!important;
    border-color: orangered!important;
    border:3px!important;
}

.more_buttons {
    opacity: 0;
}
.user_wishlist{
    position:absolute;
    bottom: 50px;
    left:300px;
    border:0!important;
    background-color: black!important;
    color:white!important;
    border-color: transparent!important;
    font-weight: 500!important;
}

.user_wishlist:hover {
    color:black!important;
    font-weight: 500!important;
    background: transparent!important;
    border-color: orangered!important;
    border:3px!important;
}

@keyframes change {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}


@media(max-width:1080px){
    .user_details{
        width: 400px;
    }
    .user_edit{
        left: 50px;
    }
    .user_wishlist{
        left:240px;
    }
    .user_heading{
        left:85px;
    }
    
}
@media(max-width:910px){
    .user_details{
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        width: 450px;
    }
    
    .user_back{
        margin-top: 50px;
    }
    .circle_back{display: none;}
    .profile{
        margin-left: auto;
        
    }
}
@media(max-width:550px){
    .profile{
        width:400px;
    }
    .h_circle1{
        width: 250px;
        height: 250px;
        border-radius: 125px;  
        left:20px;
    }
    
    .h_circle2{
        width: 250px;
        height: 250px;
        border-radius: 125px; 
        left:130px;
    } 
    .circle_back{display: none;}
    .h_circle3{
        width: 250px;
        height: 250px;
        border-radius: 125px; 
        left:40px;
    }
    .h_circle4{
        width: 250px;
        height: 250px;
        border-radius: 125px; 
        left:90px; 
    }.h_circle5{
        width: 250px;
        height: 250px;
        border-radius: 125px; 
        left:110px;
    }
    .profile_img{
        width: 250px;
        height: 250px;
        border-radius: 125px; 
        left:70px;
    }
    .user_signout{
        left:140px;
        top:450px;
    }
}
@media(max-width:410px){
    .user_details{
        width: 360px;
        margin-top: 0px;
        height:500px;
    }
    .circle_back{
        display: none;
    }
    .user_edit{
        left: 15px;
        width: 150px;
    }
    .user_wishlist{
        left:190px;
        width: 150px;
    }
    .user_data{
        font-size:20px ;
    }
    .user_heading{
        left:50px;
    }
    .user_data img{
        height: 20px;
        width: 20px;
    }
    .profile{
        width:360px;
    }
    .h_circle1{
        width: 230px;
        height: 230px;
        border-radius: 115px;  
        left:10px;
    }
    .h_circle2{
        width: 230px;
        height: 230px;
        border-radius: 115px; 
        left:120px;
    } 
    .h_circle3{
        width: 230px;
        height: 230px;
        border-radius: 115px; 
        left:30px;
    }
    .h_circle4{
        width: 230px;
        height: 230px;
        border-radius: 115px;  
        left:80px; 
    }.h_circle5{
        width: 230px;
        height: 230px;
        border-radius: 115px; 
        left:100px;
    }
    .profile_img{
        width: 230px;
        height: 230px;
        border-radius: 115px; 
        left:60px;
    }
    .user_signout{
        left:120px;
        top:420px;
    }
}
