
.ic {
  padding-bottom: 40px;
  padding-top: 40px;
  height: auto;
}
.info-card {
  width: 100%;
  min-height: 300px;
  background-color: white;
  -webkit-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
  box-shadow: 7px 9px 69px -42px rgba(0, 0, 0, 0.72);
  border-radius: 20px !important;
  transition: 0.25s ease-in-out;
  padding: 36px;
  margin: auto;
  overflow: hidden;
}

.info-card:hover {
  -webkit-box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
  box-shadow: 15px 11px 123px -42px rgba(0, 0, 0, 0.72);
  transform: scale(1.005);
}

.info-title {
  font-family: var(--normal-heading);
}

.info-title h4{
  font-size: 40px;
  font-weight: 500px;
  font-weight: 600 !important;
  text-align: left;
}

.info-desc p {
  color: rgba(0, 0, 0, 0.6)
}

.info-card button {
  position: absolute;
  left: -24px;
  top: 125px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 178, 62);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}

.info-card:hover button {
  transform: scale(15.5) translateX(5px);
  mix-blend-mode: multiply;
}